@font-face {
  font-family: 'Estedad-FD';
  src: url('/font/Estedad-FD-Regular.woff2') format('woff2');
  font-display: optional;
}

$font-family-Estedad-FD:"Estedad-FD";

.roboto-regular-italic {
  font-family: "Roboto" !important;
  font-weight: 400;
  font-style: italic;
}
